.detail-page {
    display: flex; 
    height: 100%; 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#map-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}


.row {
    display: flex; 
    width: 100%; 
}
#detail-left, #detail-right {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

#detail-right {
    margin-left: 10px;
    position: relative;
    overflow: hidden; 
}

#state-data-list {
    flex-grow: 1; 
    overflow-y: auto; 
}
    

    .map-overlay {
        font: 14px/20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        z-index: 2;
        text-align: center;
    }

    .map-overlay-inner {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 9px;
        border-radius: 3px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

    }

    .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
        border-radius: 3px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map-overlay-inner fieldset:last-child {
        margin: 0;
        text-align: center;

    }

    .map-overlay-inner select {
        width: auto;
        flex-grow: 1;
    }

    .map-overlay-inner label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .map-overlay-inner button {
        display: inline-block;
        width: 20px;
        height: 5px;
        border: none;
    }

    .map-overlay-inner button:focus {
        outline: none;
    }

    .custom-popup {
        font-size: 16px;
        padding: 10px;
        width: 200px;
        color: #000000;
        margin: 0;
    }

    label[for="layer"] {
        color: white;
    }

    #detail-right {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    #detail-left .list-group-item {
        border: none;
    }

    .list-group-item strong {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        font-weight: bold;
    }

    .map-pop {
        background: #0b72b7;
        border-radius: 2px;
        color: #fff;
        position: absolute;
        top: 257px;
        left: 193px;
        width: 93px;
        height: 54px;
        text-align: center;
        font: 13px/15px "Ubuntu", sans-serif;
        padding: 7px 10px 0 10px;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .map-pop.hide {
        visibility: hidden;
    }

    .map-pop:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .map-pop:after {
        border-color: rgba(11, 114, 183, 0);
        border-top-color: #0b72b7;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }

    .table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }


    .table th,
    .table td{
        text-align: center;
        vertical-align: middle;
        font-size:1.2rem;
        padding: 0.75rem; /* 统一内边距 */
        border-top: 1px solid #dee2e6; /* 增加边框以保持表格结构 */
    }


    /*
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }*/



    .category-title th {
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
        color: black;
        text-transform: uppercase;
    }
    .category-header td,
    .subcategory-header td {
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }


    .state-section h3 {
        width: 100%;
        text-align: center;
        background-color: black;
        color:white;
        padding: 0px;
        margin:0;
        font-size: 1.8em;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight:700;
    
    }

    .category-description{
       background-color: #f8f9fa;
    }

    .category-description td {
        padding-top: 0;
    }

    .table td.text-truncate {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    

    .table th:last-child,.table td:last-child {
        padding-top:10px;
        text-align:center;
    }
     

    .table th:nth-child(2),
    .table td:nth-child(2) {
        width: 100px;
        width:auto;
        text-align: center;
        
    }

    .table tr:first-child th,
    .table tr:nth-child(2) td {
        text-align: center;
        
    }

    


    .text-wrap {
        white-space: normal;
        word-wrap: break-word;
        max-width: 300px; /* Adjust this value as needed */
       
    }

    .candidate-names {
        max-height: 100px; /* Adjust this value as needed */
        overflow-y: auto;
    }

    /* Ensure the table doesn't become too wide */
    .table {
        max-width: 100%;
    }

    .category-description-fixed{
        text-align: center;
    }

    .custom-btn {
        padding: 5px 10px; 
        font-size: 8px; 
    }

    .vote-info {
        display:block;
        font-size: 0.8rem; 
        color: #6c757d; 
        white-space: normal; 
        word-wrap:break-word;
    }
   
   
}
  

