.detail-page {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Ubuntu', sans-serif;
    }

    .map-overlay {
        font: 14px/20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        z-index: 2;
        text-align: center;
    }

    .map-overlay-inner {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 3px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map-overlay-inner fieldset:last-child {
        margin: 0;
        text-align: center;
    }

    .map-overlay-inner select {
        width: auto;
        flex-grow: 1;
    }

    .map-overlay-inner label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .map-overlay-inner button {
        display: inline-block;
        width: 20px;
        height: 5px;
        border: none;
    }

    .map-overlay-inner button:focus {
        outline: none;
    }

    .custom-popup {
        font-size: 16px;
        padding: 10px;
        width: 200px;
        color: #000000;
        margin: 0;
    }

    label[for="layer"] {
        color: white;
    }

    #detail-right {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    #detail-left .list-group-item {
        border: none;
    }

    .list-group-item strong {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        font-weight: bold;
    }

    .map-pop {
        background: #0b72b7;
        border-radius: 2px;
        color: #fff;
        position: absolute;
        top: 257px;
        left: 193px;
        width: 93px;
        height: 54px;
        text-align: center;
        font: 13px/15px "Ubuntu", sans-serif;
        padding: 7px 10px 0 10px;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .map-pop.hide {
        visibility: hidden;
    }

    .map-pop:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .map-pop:after {
        border-color: rgba(11, 114, 183, 0);
        border-top-color: #0b72b7;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }
    .category-title th {
        background-color: #f8f9fa;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
    }
    .category-header td,
    .subcategory-header td {
        background-color: #e9ecef;
        font-weight: bold;
        font-size: 1.2em;
        text-align: left;
    }
    .state-section {
        margin-bottom: 2rem;
    }

    .category-description {
        background-color: #f3f3f3d1;
    }

    .category-description td {
        padding-top: 0;
    }

    .table td.text-truncate {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table th:last-child {
        width: 100px;
        text-align: right;
    }
/*     .table td:last-child {
        text-align: left;
    } */

    .table th:nth-child(2),
    .table td:nth-child(2) {
        width: 100px;
        text-align: center;
    }

    .table tr:first-child th,
    .table tr:nth-child(2) td {
        text-align: left;
    }



    .text-wrap {
        white-space: normal;
        word-wrap: break-word;
        max-width: 300px; /* Adjust this value as needed */
    }

    .candidate-names {
        max-height: 100px; /* Adjust this value as needed */
        overflow-y: auto;
    }

    /* Ensure the table doesn't become too wide */
    .table {
        max-width: 100%;
    }
}
