:root {
    /**
    * colors
    */
   
    --orange: hsl(34, 100%, 44%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 22%);
}

html{
     height: 100%;
     font-family: 'Ubuntu', sans-serif;
     font-size: 10px;
     scroll-behavior: smooth;
}

body { margin: 0; 
    padding: 0; 
    background-color:var(--white);
    font-size: 1.6rem;
    line-height: 1.5;}

.header {
    background-color: transparent;
    display: flex;
    padding: 10px 20px; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    z-index:10;
}


.home-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 100vh; 
    position: relative; 
    z-index: 1; 


}

.title-container, .legend-container, .map-container,.video-wrapper,.blog-wrapper {
    width: 100%;
}

.title-container {
    flex-basis: 5%; 
    text-align: center;
    z-index: 2;
    background: transparent;
    position:relative;
}


.map-container {
    flex-basis:50%;
    flex-shrink: 0;
    height:55%;
    position: relative; 
    z-index: 1;
}

#map {
    width: 100%;
    height: 60vh;
}

.legend-container {
    display:flex;
    justify-content: space-around;
    position:relative;
    z-index:2;

}

.legend-section {
    background: transparent;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

#legend-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap:30px;
    margin-bottom: 5px;
}

.legend-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--jet);
    font-size: 1.4rem;
    font-weight: 500;
    height:25px;
    padding: 5px 10px; 
    border:none;
    border-radius: 4px;
    box-shadow: 6px 6px 0 -1px var(--jet);
    transition: opacity 1s ease;
    cursor: pointer;
   background-color: initial;
}

.legend-btn.highlight,.legend-btn.active  {
    transform: scale(1.05);
    color: var(--white);
    background-color: var(--jet)!important;
    box-shadow: 5px 5px 0 -2px var(--btn-bg-color);
}
.legend-btn:not(.highlight) {
    background-color: initial;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.legend-btn:is(:hover, :focus-visible) {
  background-color: var(--jet)!important;
  color: var(--white);
  box-shadow: 5px 5px 0 -2px var(--btn-bg-color);
}

.video-wrapper {
    width: 100%; 
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; 
    z-index: 1;
    background-color:hsla(0, 0, 0.1, 0.1);
    padding: 2em 0;
    box-sizing: border-box; 
    flex-shrink: 0; 
    flex-grow: 1; 
}

/*version 2*/
.blog-wrapper {
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .blog-container {
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
   
  }

  .title-line-wrapper {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 10px; 
    margin-bottom: 15px;
}

h1 {
    flex-shrink: 0;
    margin: 0 10px;
    white-space:nowrap;
}

.title-line {
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #000; 
}

.cards-wrapper {
   width:100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   justify-content: center;
  }
  
  .icon{
    height:20px;
  }
  
  card {
    padding: 5px;
    background: white;
    overflow-x: visible;
    overflow-y: visible;
    filter: drop-shadow(0 2px 7px #00000040);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin:10px;
    /*cursor: pointer;*/
    width:100%;
    height:auto;
    box-sizing:border-box;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  card:hover {
    border-color: grey;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .card-type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
    gap: 5px;
    margin: -10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    color:var(--white);
  }

  .card-date{
    color: #4b5563; /* slate-600 */
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

 
  
  .card-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #075985;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  .card-content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    color: #334155;
    margin-top: 10px;
    margin-bottom:10px;
    padding-bottom: 10px;
    line-height:1.5;
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-footer{
    text-align:right;
  }

  .read-more-btn {
    font-size: 0.875rem;
    color: #d29d2c;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
  }


  

.more-info{
    display:flex;
    flex-direction:column;
    align-items:center;

}



#location {
    height: 30px; 
    width: 300px; 
    font-size: 14px; 
    font-family: 'Ubuntu', sans-serif;
}

button {
    height: 10px; 
    font-size: 14px; 
    padding: 5px 10px; 
}


    #popup-btn {
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 500;
        padding: 5px; 
        height:45px;
        box-shadow: 6px 6px 0 -1px var(--jet);
        border: none; 
        border-radius: 4px;
        transition: 0.25s ease;
        text-decoration: none;
        margin-right:10px;
    }

    #popup-btn:is(:hover, :focus-visible) {
        background-color: var(--jet);
        color: var(--white);
        box-shadow: 5px 5px 0 -2px var(--orange);
      }
    
    /* Popup container */
    .popup {
        position: relative;
        display: block;
        cursor: pointer;
        color: rgb(230, 213, 213);
      }
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    opacity:0;
    width: 300px;
    transition: visibility 0s 1s, opacity 1s linear;
    background-color: rgba(90, 90, 90);
    color: rgb(230, 213, 213);
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    bottom: 40%;
    left: 40%;
  }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    opacity:1;
    animation: fadeIn 1s;
  }


  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  #infographic-ref {
    padding-top: 20px;
    color: #fff;
}
#infographic-btn {
    color: rgb(230, 213, 213);
    background-color: rgba(60, 60, 60);
}

#detail-left, #detail-right {
    position:relative;
    padding:0;
}

#detail-left {
    width: 100%;
    min-height: 550px;
    max-height: 800px;
    margin-left: 20px;
}

#detail-right {
    margin-right: 20px;
}
    #detail-li {
        width: 100%;
    
    }
    #detail-row {
        width: 100%;
    
    
    }
    #row-name {
        column-width: 70%;
        font-size: 14px;
    }
    
    #row-vp {
        column-width: 15%;
        font-size: 14px
    }
    #row-btn {
        column-width: 15%;
        font-size: 14px;
    }

    .map-container-sm {
        width: 100%;
        height: 100%;
        position:relative;
        margin-bottom:20px;
       
    }
    
    #socials {
        margin-left: auto;
        margin-top: 5px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    
    #dono-btn {
        color: var(--orange);
        border-color: rgb(200, 200, 200);
        background-color: rgb(235, 235, 235);
        font-family: "Poppins", sans-serif;
        padding: 0px 10px;
        align-items: center;
        line-height: 1;
        justify-content: center;

    }



#dono-btn p {
    margin: 0; 
    line-height: 1.8; 
}

#social-item {
    float: left;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#social-item svg {
    display: block;
    text-align: center;
}

#cand-row {
    padding-top: 50px;
    height: 90%;
}

#candidate {
    min-height: 450px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
    background-color: rgb(240,240,240);

}

#infolist {
    text-align: center;
    justify-content: center;
    list-style-type: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#cand {
    font-size: 20px;
    justify-content: center;
    margin: 10px;
    margin-bottom: 10%;
    list-style-type: none;
    /*font-family: "Monaco", monospace;*/
    color: black;
}

#denier {
    font-size: 16px;
    justify-content: center;
    margin: 10px;
    margin-bottom: 10%;
    list-style-type: none;
    /*font-family: "Monaco", monospace;*/
    color: maroon;
}

#campbtn {
    justify-content: center;
    margin: 10px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    border:none;
}

#campbtn button{
    border:none;
}

#cand_party {
    list-style-type: none;
}

#info-page{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    width: 70%;
    background-color: rgb(240,240,240)
}

#info-title{
    width: 80%;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#info-blurb{
    padding-top: 10px;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
}


#vp-img,#vp-math{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#logo img{
    max-width:100%;
    height:auto;
}

#election-desc {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
