html{
    height: 100%;
}

body {
    font-family: 'Arial'; 
    margin: 0; 
    padding: 0;
}



#social {
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
}

.map-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
   
}

#popup-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    z-index: 2;
}

.vp-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 2;
}


#detail-left {
    width: 100%;
    margin: 0; 
    padding: 0;
}
#detail-right {
    position: relative;
    margin: 0;
    padding: 0;
}
#detail-li {
    width: 100%;

}
#detail-row {
    width: 100%;
    margin: 0; 
    padding: 0;
}
#row-name {
    column-width: 70%;
    font-size: 14px;
}

#row-vp {
    column-width: 15%;
    font-size: 14px
}
#row-btn {
    column-width: 15%;
    font-size: 14px;
}



.map-container-sm {
    position: absolute;
    width: 100%;
    height: 100%;
}

#socials {
    margin-left: auto;
    list-style-type: none;
}

#social-item {
    margin-top: 5%;
    float: left;
}
#social-item svg {
    display: block;
    text-align: center;
    margin-right: 25px;
}

#cand-row {
    padding-top: 50px;
    height: 90%;
}

#candidate {
    height: 400px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(240,240,240);

}

#infolist {
    text-align: center;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(240,240,240);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#cand {
    font-size: 20px;
    justify-content: center;
    margin: 10px;
    margin-bottom: 10%;
    list-style-type: none;
    font-family: "Monaco", monospace;
    color: black;
}

#campbtn {
    justify-content: center;
    margin: 10px;
    list-style-type: none;
    font-family: "Monaco", monospace;
    color: black;
}

#cand_party {
    list-style-type: none;
}

#info-page{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    width: 70%;
    background-color: rgb(240,240,240)
}

#info-title{
    width: 80%;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#info-blurb{
    padding-top: 10px;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
}

#logo{
    height: 200px;
    width: 300px;
}