{% extends "layout.html" %}

<!-- INFORMATION PAGE TEMPLATE // ABOUT PAGE -->

{% block main %}
<body>
    <div class="container" name = "info-page">
        <div class="container">
            What is Vote Maximizer?
        </div>
        <div class="container">
            What is the Electoral Innovation Lab?
        </div>
        <div class="container">
            Where does our data come from?
        </div>
        <div class="container">
            Our Team
        </div>
        <div class="container">
            Other Websites, Donation Links, etc.
        </div>
    </div>
</body>


{% endblock %}

