{% extends "layout.html" %}

<!-- INFORMATION PAGE // ABOUT PAGE -->
<style>

</style>
{% block main %}
<body>
    <div class="container" id= "info-page">
        <div class="container" id="info-title">
            About Vote Maximizer
            <div class="container" id="info-blurb">
                Vote Maximizer is a web app designed to maximize the power of individual voters to make change and repair democracy in the 2024 election. We perform mathematical and strategic analysis to identify races and ballot questions where the per-voter impact is greatest. 
            </div>
            <div class="container" id="info-blurb">
                Vote Maximizer centers not on campaigns, but on the individual voter. Our goal is to give individuals rigorous analysis of the type that campaign strategists provide to politicians. Analytics can help people optimize their approach, targeting their time and resources to make the most difference.
            </div>
            <div class="container" id="info-blurb">
                The principle of voter power means picking races and ballot questions where a few votes can make the difference. Rather than directing you to certain winners or certain losers, Vote Maximizer shows you the high-leverage cases: key knife-edge political races, and ballot questions that overcome a legislature’s failure to act.
            </div>
            <div class="container" id="info-blurb">
                In political races, Vote Maximizer answers this question using mathematical analysis. It asks the question: how much difference in probability arises from moving one or a few votes? First it finds close chambers: the Senate, the House, and key legislatures around the nation. Then Vote Maximizer calculates the <a href="https://samwang.substack.com/p/democracy-moneyball">per-vote leverage</a> in each race on those chambers, as measured by the change in win probability that comes from moving one or a few votes.
            </div>
            <div class="container" id="info-blurb">
                Voter power is even greater for ballot initiatives that can change policies, and even democracy itself, for years to come. Our focus is on ballot questions that overcome a legislature’s failure or lack of incentive to act. Examples include abortion-rights initiatives, ranked-choice voting, and anti-gerrymandering initiatives. 
            </div>
        </div>

        <div class="container" id="info-title">
            The Electoral Innovation Lab
            <div class="container" id="info-blurb">
                The Electoral Innovation Lab is a nonprofit, nonpartisan organization whose mission is to use science to help repair democracy. A nonprofit 501(c)(3) mission, the Lab uses math, law, and data-driven scientific methods to advance, repair, and restore democracy. The Lab seeks to help voters and reformers maximize their power to achieve fair and meaningful representation.
            </div>
        </div>

        <div class="container" id="info-title">
            Our Data
            <div class="container" id="info-blurb">
                Our data comes from a variety of sources: 
                the <a href = "https://election.princeton.edu">Princeton Election Consortium</a>, 
                the <a href = "https://gerrymander.princeton.edu">Princeton Gerrymandering Project</a>, 
                <a href = "https://davesredistricting.org">Dave’s Redistricting/VEST</a>, 
                <a href = "https://boltsmag.org/">Bolts Magazine</a>, 
                <a href = "https://ballotpedia.org">Ballotpedia</a>,
                and hand-gathered information on candidates and ballot initiatives.
            </div>
        </div>

        <div class="container" id="info-title">
            Check out and support the EIL:
            <div class="container" id="info-blurb">
                <a href="https://www.electoral-lab.org/" target="_blank" name="logo"><img src="static/images/eil_logo.png" style="max-width: 100%; height: auto;width: 250px;" alt="Electoral Lab Logo"></a>
            </div>
 <div class="container" id="info-blurb">
                <a class="btn btn-success btn-lg" href="https://www.electoral-lab.org/donate" target="_blank" role="button">Donate to the EIL</a>
            </div>

        <div class="container" id="info-title">
            Contact Us
            <div class="container" id="info-blurb">
                admin@electoral-lab.org
            </div>
        </div>
        </div>
    </div>
</body>


{% endblock %}

