{% extends "layout.html" %}

<style> 
    body { margin: 0; padding: 0;  }
    .map-overlay {
        font: 14px/20px 'Arial';
        position: absolute;
        top: 100px; /* need a dynamic solution to keep it not overlaying with other stuff */
        left: 10px;
        bottom: 10px;
        padding: 10px;
        z-index: 2; /* put over  map */
    }
    .map-overlay-inner {
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
    }
    .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
    }
    .map-overlay-inner fieldset:last-child {
        margin: 0;
    }
    .map-overlay-inner select {
        width: 100%;
    }
    .map-overlay-inner label {
        display: block;
        font-weight: bold;
        margin: 0 0 5px;
    }
    .map-overlay-inner button {
        display: inline-block;
        width: 20px;
        height: 5px;
        border: none;
        cursor: pointer;
    }
    .map-overlay-inner button:focus {
        outline: none;
    }
    .custom-popup {
        font-size: 16px;
        padding: 10px;
        width: 200px;
        color: #333;
        margin: 0px;
        border: 2px solid #555;
        border-color: #555;
    }
    
</style>

{% block main %}
<body>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"> <strong>Presidential</strong>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">Voting Power: {{ prez_vp }}</div>
                                <div class="col"><button type="button" class="btn btn-info">Get Involved</button></div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"> <strong>Senate</strong>
                    <ul class="list-group list-group-flush">
                        {{ senate_list | safe }}
                    </ul>
                </li>
                <li class="list-group-item"> <strong>House of Representatives</strong>
                    <ul class="list-group list-group-flush">
                        {{ house_list | safe }}
                    </ul>
                </li>
                <li class="list-group-item"> <strong>State Legislature</strong>
                    <ul class="list-group list-group-flush">
                        {{ state_leg_list | safe }}
                    </ul>
                </li>
                <li class="list-group-item"> Ballot Initiatives
                    <ul class="list-group list-group-flush">
                        {{ ballot_list | safe }}
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="col">
            <div class="map-overlay">
                <div class="map-overlay-inner">
                    <div id="geocoder" class="geocoder"></div>
                    <fieldset>
                        <label>Select your topic of interest</label>
                        <select id="layer" name="layer">
                            <option value="empty">choose</option>
                            <option value="presidential">Presidential race</option>
                            <option value="congressional">Senate race</option>
                            <option value="house">House race</option>
                            <option value="RCV">Rank choice voting</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="map-container">
                <div id="sm-map"></div>
            
                <script>
                    mapboxgl.accessToken = '{{ mapbox_key }}';
                    const map = new mapboxgl.Map({
                        container: 'sm-map',
                        style: 'mapbox://styles/mikeklein1/clxkrmlob01s801qkb96q6c00',
                        center: [-98.625126, 37.718862],
                        zoom: 3.2,
                        projection: 'globe'
                    });
                
                    const layers = {
                        presidential: 'static/data/Presidential_power.geojson',
                        congressional: 'static/data/Congressional_power.geojson',
                        house: 'static/data/2024.house.VoterPower.geojson'
                    };
                
                    const popup = new mapboxgl.Popup({
                        closeButton: false,
                        closeOnClick: false
                    });
                
                    function addGeoJsonLayer(layerId) {
                        if (map.getSource(layerId)) {
                            map.removeLayer(layerId + '-fill');
                            map.removeLayer(layerId + '-line');
                            map.removeSource(layerId);
                        }
                
                        map.addSource(layerId, {
                            type: 'geojson',
                            data: layers[layerId]
                        });
                
                        map.addLayer({
                            id: layerId + '-fill',
                            type: 'fill',
                            source: layerId,
                            paint: {
                                'fill-color': [
                                    'case',
                                    ['==', ['typeof', ['get', 'Voter.Power']], 'number'],
                                    {
                                        'presidential': [
                                            'interpolate', ['linear'], ['get', 'Voter.Power'],
                                            1, '#feedde', 10, '#fdbe85', 50, '#fd8d3c', 100, '#d94701'  
                                        ],
                                        'congressional': [
                                            'interpolate', ['linear'], ['get', 'Voter.Power'],
                                            1, '#f2f0f7', 25, '#cbc9e2', 50, '#9e9ac8', 100, '#6a51a3'  
                                        ],
                                        'house': [
                                            'interpolate', ['linear'], ['get', 'Voter.Power'],
                                            1, '#edf8e9', 10, '#bae4b3', 50, '#74c476', 100, '#238b45'
                                        ]
                                    }[layerId],
                                    '#D3D3D3' // Color for NaN or non-numeric values
                                ],
                                'fill-opacity': 1
                            }
                        });
                
                        // Add the line layer with increased width
                        map.addLayer({
                            id: layerId + '-line',
                            type: 'line',
                            source: layerId,
                            layout: {},
                            paint: {
                                'line-color': '#000',
                                'line-width': 2, 
                                'line-opacity': 0.8
                            }
                        });
                
                        map.on('mousemove', layerId + '-fill', function(e) {
                            if (e.features.length > 0) {
                                const feature = e.features[0];
                                const name = feature.properties['NAME'] || feature.properties['NAMELSAD'];
                                const voterPower = feature.properties['Voter.Power'];
                                const popupContent = `<div class="custom-popup">
                                    <strong>${layerId === 'house' ? 'District' : 'State'}:</strong> ${name}<br>
                                    <strong>Voter Power:</strong> ${voterPower}%
                                </div>`;
                
                                popup.setLngLat(e.lngLat).setHTML(popupContent).addTo(map);
                            }
                        });
                
                        map.on('mouseleave', layerId + '-fill', function() {
                            map.getCanvas().style.cursor = '';
                            popup.remove();
                        });
                    }
                
                    document.getElementById('layer').addEventListener('change', function (e) {
                        const value = e.target.value;
                        if (value in layers) {
                            addGeoJsonLayer(value);
                        } else {
                            Object.keys(layers).forEach(id => {
                                if (map.getLayer(id + '-fill')) {
                                    map.removeLayer(id + '-fill');
                                    map.removeLayer(id + '-line');
                                    map.removeSource(id);
                                }
                            });
                        }
                    });
                
                    map.on('load', function () {
                        const geocoder = new MapboxGeocoder({
                            accessToken: mapboxgl.accessToken,
                            mapboxgl: mapboxgl,
                            marker: false,
                        });
                        document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
                    });
                </script>
            </div>
        </div>
    </div>

</body>


{% endblock %}
