{% extends "layout.html" %}

<!-- FAQ PAGE -->

{% block main %}
<body>
    <div class="container" id= "info-page">
        <div class="container" id="info-title">
            How To Use This Site
        </div>
        <div class="container" id="info-title">
            Explore the Dropdowns
            <div class="container" id="info-blurb">
                Vote Maximizer’s map and dropdowns includes Election Day information and <a href ="https://votemaximizer.org/voter-power">Voter Power scores</a> for key presidential, Senate, House of Representatives, gubernatorial, and state legislative races, plus ballot measures. This information can be displayed by (a) clicking on a state, (b) selecting a type of election, or (c) searching for competitive races near a local address. 
            </div>
        </div>

        <div class="container" id="info-title">
            How Powerful am I?
            <div class="container" id="info-blurb">
                In individual political races, Vote Maximizer emphasizes races where a few votes have the most impact. Voter Power is ranked on a 100-point scale, with 100 indicating the greatest possible per-voter impact on a race or ballot question. Click through states and contests to watch how Voter Power shifts, as the function analyzes millions of data points.
            </div>
        </div>

        <div class="container" id="info-title">
            Ballot Initiative Categories
            <div class="container" id="info-blurb">
                <b>Democracy Initiatives</b> change the way voters elect their government. Ballot initiatives can implement rules changes that can make electoral systems more responsive or representative: ranked-choice voting, anti-gerrymandering initiatives, making party primaries more open to competition, and other elements of the democratic process.
            </div>
            <div class="container" id="info-blurb">
                <b>Ballot Initiatives</b> provide a direct means for citizens to change the law. Vote Maximizer focuses on policies that legislatures are expected to do, but fail to act. Such legislative tasks include  reproductive rights, marijuana legalization, the minimum wage, and civil liberties.
            </div>
        </div>

        <div class="container" id="info-title">
            Something is Missing
            <div class="container" id="info-blurb">
                Also, local elections, such as for school board or town council, may appear on your ballot, but aren’t included in our database. If a race or ballot question meeting these criteria appears to be missing or in error, please let us know through <a href = "https://docs.google.com/forms/d/1wq8PSg1xJ8PzaVu_XFhGB9KIZo7bpW35uA-2nKHTJLA/">this Web form</a> or by emailing maximizer@electoral-lab.org. 
            </div>
        </div>
        <div class="container" id="info-title">
            About the Skeptic Flag
            <div class="container" id="info-blurb">
                Our organization promotes democracy. We aim to strengthen and improve it by publishing accurate information and pressing electoral reforms. The Skeptic Flag points to candidates who, in the face of facts, cast doubt on the processes and results of free and fair elections. Learn more about the phenomenon of election denialism at <a href ="http://electiondeniers.org">electiondeniers.org</a>. 
            </div>
        </div>

    </div>
</body>


{% endblock %}

