{% extends "layout.html" %}

<!-- FAQ PAGE -->

{% block main %}
<body>
    <div class="container" id= "info-page">
        <div class="container" id="info-title">
            Frequently Asked Questions
        </div>
        <div class="container" id="info-title">
            So why does Voter Power matter?
            <div class="container" id="info-blurb">
                Are you interested in participating in the democratic process? 
                Voter power can tell you where your vote, your campaign volunteering, 
                and your political donations will have the most impact. It highlights 
                the critical elections that can swing the balance of legislatures.
            </div>
        </div>

        <div class="container" id="info-title">
            How is Voter Power calculated?
            <div class="container" id="info-blurb">
                Insert more mathy explanation here
            </div>
            <div class="container" id="info-blurb">
                <a class="btn btn-info" href="/voter-power" role="button">Check out our neat infographic</a>
            </div>
        </div>

        <div class="container" id="info-title">
            What elections should I look for?
            <div class="container" id="info-blurb">
                Our dropdown includes candidate and voter power information for the Presidential race, 
                Senate races, House of Representatives' races, Gubernatorial races, State Legislature's races, 
                and Ballot measures. Different races have different voter powers, and for a given area, our website 
                defines these individually. All of this information can be observed by using the dropdown on a relevant 
                state or by searching a local address. 

                Note that more elections will appear on your ballot apart from these races. 
                Our database is not an exhaustive list of every election race in one area.

            </div>
        </div>

        <div class="container" id="info-title">
            Why is [insert election/candidate here] missing?
            <div class="container" id="info-blurb">
                Our data collection process is limited by certain factors - some states finish their primaries much sooner 
                than others, candidates drop out, and polling data is sometimes unavailable. We endeavor to get as much 
                information as possible, for more complete pictures of the US electoral map.
            </div>
        </div>

        <div class="container" id="info-title">
            What is in these different ballot initiative categories?
            <div class="container" id="info-blurb">
                Explain the 3 different categories
            </div>
        </div>
    </div>
</body>


{% endblock %}

