{% extends "layout.html" %}

<!-- feedback PAGE //  -->
{% block main %}
<body>
    <div class="container" id="feedback-page">
        <div class="container" id="feedback-title">
            <h1>Vote Maximizer feedback</h1>
            <p id="feedback-blurb">
                Vote Maximizer is a web app designed to highlight competitive races and critical issues to strengthen our democracy in 2024. 
                We strive to provide you with the most current data. If you encounter any website or data issues, please let us know using the following survey.
            </p>
        </div>

        <div class="container" id="feedback-button-container">
            <a class="btn" id="feedback-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSchg9lDGWnpgefWE5FH1XXzVsHaw7zZzD0SDGC4DOUE5peMAw/viewform?usp=sf_link" role="button">
                VM Feedback
            </a>
        </div>
    </div>

    <style>
        
        #feedback-page {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
            width: 70%;
            background-color: rgb(240,240,240)
           
        }

        #feedback-title h1 {
            font-size: 18px;
            padding-top: 25px;
            font-weight: normal;
           
        }

        #feedback-blurb {
            font-size: 16px;
            padding-bottom: 50px;
            padding-top: 10px;
            justify-content: center;
            font-size: 16px;
            font-weight: normal;
            
        }

        #feedback-btn {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            background-color: rgb(225, 130, 0);
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }

        #feedback-btn:hover {
            background-color: rgb(225, 130, 0);
        }
    </style>
</body>
{% endblock %}
