{% extends "layout.html" %}

<!-- feedback PAGE //  -->
<style>

</style>
{% block main %}
<body>
    <div class="container" id= "feedback-page">
        <div class="container" id="feedback-title">
            Vote Maximizer
            <div class="container" id="feedback-blurb">
                Vote Maximizer is a web app designed to bring attention to competitive races and topics to repair our democracy in 2024. 
                We are constantly trying to update you with the most up to date data. However, if you see any website or data glitches, 
                kindly let us know in the following google sheet. 
            </div>
        </div>


        <div class="container" id="feedback-title">
            <li id="social-item">
                <a class="btn" id="feedback-btn" href="https://docs.google.com/spreadsheets/d/1V_-vOnayZtcdJSJLpQ1GAHVLtmv2LpATTMwRHJSlLh8/edit?resourcekey=&gid=1922191693#gid=1922191693" role="button"><p>VM Feedback</p></a>
            </li>
            
    
        </div>
    </div>
</body>


{% endblock %}