{% extends "layout.html" %}

{% block main %}
<!-- Should shift this style to CSS sheet at some point-->
<style> 


    body { margin: 0; padding: 0;}
    .map-overlay {
        font: 14px/20px;
        position: absolute;
        top: 155px; /* need a dynamic solution to keep it not overlaying with other stuff */
        left: 10px;
        bottom: 10px;
        padding: 10px;
        z-index: 2; /* put over  map */
        text-align: center;
       
    }
    .map-overlay-inner {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 3px;
        text-align: center;
        box-shadow: 2px 6px 10px rgba(0, 0, 0);
        
    }
    .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
        text-align: center;
    }
    .map-overlay-inner fieldset:last-child {
        margin: 0;
        text-align: center;
    }
    .map-overlay-inner select {
        width: 100%;
    }
    .map-overlay-inner label {
       
        display: block;
        margin-bottom: 5px;
    }
    .map-overlay-inner button {
        display: inline-block;
        width: 20px;
        height: 5px;
        border: none;
        cursor: pointer;
    }
    .map-overlay-inner button:focus {
        outline: none;
    }
    .custom-popup {
        font-size: 16px;
        padding: 10px;
        width: 200px;
        color: #000000;
        margin: 0px;
    
        
    }
    label[for="layer"],
    label[for="container"],
    label[for="location"] {
        color: rgb(230, 213, 213);
}
h2, h3 {
  color: rgb(230, 213, 213);
  font-family: "Poppins";
  text-align: center;
}

h3 {
  font-size: 15px;  
}

.legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    z-index: 2;
    
    font-family: "Poppins";
}

#color-scale {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #feedde, #fdbe85, #fd8d3c, #d94701);
    font-family: "Poppins";
}

.labels {
    display: flex;
    justify-content: space-between;
    color: rgb(230, 213, 213);
}

.labels span {
    font-size: 12px;
    

}


</style>


<body>
    <div id="legend" class="legend">
        <h3>Voter Power Scale</h3>
        <div id="color-scale"></div>
        <div class="labels">
            <span>0</span>
            <span>100</span>
        </div>
    </div>
    
    
    <div class="map-overlay">
        <div class="map-overlay-inner">
            <h2>Vote Maximizer</h2>
            <h3>by the Electoral Innovation Lab</h3>
            <fieldset>
                
                <label for="layer" style="margin-top: 15px; font-size: 18px; font-family: 'Poppins', sans-serif;">You are currently viewing the: </label>

                <select id="layer" name="layer">
                    <option value="aggregate" selected>Overall voter power</option>
                    <option value="presidential">Presidential race voter power</option>
                    <option value="congressional">Senate race voter powers</option>
                    <option value="house">House race voter powers</option>
                    <option value="gubernatorial">Gubernatorial voter powers</option>
                    <option value="state_leg_up">State upper legislature voter powers</option>
                    <option value="state_leg_low">State lower legislature voter powers</option>
                    <option value="ballot_all">Amount of ballot initiatives</option>
                </select>

                <form action="/state" method="post">
                    <label for="location" style="margin-top: 15px; font-size: 18px; font-family: 'Poppins', sans-serif;">Select a state to see more detail:</label>
                    <select name="location" id="location" onchange="this.form.submit()">
                        <option value="" disabled selected>Select a state</option>
                        {% for s in states %}
                        <option value="{{s}}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </form>
                
                    
                </form>

                
                    <form action="/local" method="post">
                        <label for="location" style="margin-top: 15px; font-size: 18px; font-family: 'Poppins', sans-serif;">Or find pivotal elections near you:</label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="type address/ZIP, press enter"></input>
                    </form>

                    <script>
                        document.getElementById('location').addEventListener('keypress', function (e) {
                            if (e.key === 'Enter') {
                                e.preventDefault(); // Prevent the default action (form submission)
                                document.getElementById('local-elections-form').submit(); // Submit the form
                            }
                        });
                    </script>
               
            </fieldset>
        </div>
    </div>
           

    <div class="map-container">
        <div class="col" id="map"></div>
    </div>

    <script>
        mapboxgl.accessToken = '{{ mapbox_key }}';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mikeklein1/clxkrmlob01s801qkb96q6c00',
            center: [-106.111450,37.067780],
            zoom: 3.6,
            projection: 'mercator'
        });


        //add all the layers as const here
        const layers = {
            aggregate: 'static/data/calculated_files/geojsons/aggregate.geojson',
            presidential: 'static/data/calculated_files/geojsons/president.geojson',
            congressional: 'static/data/calculated_files/geojsons/senate.geojson',
            house: 'static/data/geojson_imports/geojson_final/house.geojson',
            gubernatorial: 'static/data/calculated_files/geojsons/governor.geojson',
            ballot_all: 'static/data/geojson_imports/geojson_final/ballot_initiatives_main.geojson',
            state_leg_up:'static/data/geojson_imports/geojson_final/state_leg_upper.geojson',
            state_leg_low:'static/data/geojson_imports/geojson_final/state_leg_lower.geojson'
            
        };
        //this is just the color for the legend
        function updateLegend(layerId) {
        var gradient = '';
        switch(layerId) {
        
        case 'aggregate':
            gradient = 'linear-gradient(to right, #ffffd4, #fed98e, #fe9929, #cc4c02)';
            break;   
        case 'presidential':
            gradient = 'linear-gradient(to right, #feedde, #fdbe85, #EF6548, #D7301F)';
            break;
        case 'congressional':
            gradient = 'linear-gradient(to right, #f2f0f7, #cbc9e2, #9e9ac8, #6a51a3)';
            break;
        case 'house':
            gradient = 'linear-gradient(to right, #edf8e9, #bae4b3, #74c476, #238b45)';
            break;
        case 'gubernatorial':
            gradient = 'linear-gradient(to right, #fffac2, #fff68f, #fff25c, #ffdc09)';
            break;
        case 'ballot_all':
            gradient = 'linear-gradient(to right, #c7eae5, #01665e)'; 
            legendTitle = 'Ballot initiative number';
            break;
        case 'state_leg_up':
            gradient = 'linear-gradient(to right, #ffffcc, #225ea8)'; 
            break;
        case 'state_leg_low':
            gradient = 'linear-gradient(to right, #f1eef6, #ce1256)'; 
            break;


        default:
            gradient = 'none';  // No gradient for layers without Voter.Power
        }
        document.getElementById('color-scale').style.background = gradient;
    }

        let hoveredStateId = null; // This will hold the ID of the feature under the mouse.
        let currentLayerId = 'aggregate'; // Track the current layer

        const popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        

        function addGeoJsonLayer(layerId) {
            const idProperty = layerId === 'house' || 'state_leg_up' || 'state_leg_low' ? 'GEOIDFQ' : 'STATEFP';  //  'house' uses GEOIDFQ, others use STATEFP for unique id

            // remove hover state when switching layers
            if (hoveredStateId) {
                map.setFeatureState({source: currentLayerId, id: hoveredStateId}, { hover: false });
                hoveredStateId = null;
            }

            // Remove existing layers
            if (map.getSource(currentLayerId)) {
                map.removeLayer(currentLayerId + '-fill');
                map.removeLayer(currentLayerId + '-line');
                map.removeLayer(currentLayerId + '-hover-line');  // Remove hover line if it exists
                map.removeSource(currentLayerId);

                updateLegend(layerId);
            }

            // Adds the geojson layers
            map.addSource(layerId, {
                type: 'geojson',
                data: layers[layerId],
                promoteId: idProperty  
            });
        
            if (layerId === 'ballot_all') {
        

        map.addLayer({
            id: layerId + '-fill',
            type: 'fill',
            source: layerId,
            paint: {
            'fill-color': [
                'case',
                ['==', ['get', 'number_per_state'], null], '#D3D3D3', // If number_per_state is null, use grey
                ['==', ['get', 'number_per_state'], 0], '#D3D3D3', // Also use grey if number_per_state is 0
                ['interpolate',
                    ['linear'],
                    ['get', 'number_per_state'],
                    1, '#c7eae5',  // Lightest color for the smallest number
                    9, '#01665e'  // Darkest color for the largest number
                ]
            ],
            'fill-opacity': 1
        }
        }, 'state-label'); // state names should be over the layers
    } else {

            map.addLayer({
    id: layerId + '-fill',
    type: 'fill',
    source: layerId,
    paint: {
        'fill-color': [
            'case',
            ['==', ['get', 'voter_power'], null], '#D3D3D3', //  undefined voter_power is grey
            ['==', ['get', 'voter_power'], 0], '#D3D3D3', //  zero voter_power is also grey
            
            ['==', layerId, 'aggregate'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#ffffd4', 33.3, '#fed98e', 66.6, '#fe9929', 100, '#cc4c02'
            ],

            ['==', layerId, 'presidential'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#feedde', 33.3, '#fdbe85', 66.6, '#EF6548', 100, '#D7301F'
            ],
            ['==', layerId, 'congressional'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#f2f0f7', 33.3, '#cbc9e2', 66.6, '#9e9ac8', 100, '#6a51a3'
            ],
            ['==', layerId, 'house'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#edf8e9', 33.3, '#bae4b3', 66.6, '#74c476', 100, '#238b45'
            ],
            ['==', layerId, 'gubernatorial'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#fffac2', 33.3, '#fff68f', 66.6, '#fff25c', 100, '#ffdc09'
            ],
            ['==', layerId, 'state_leg_up'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#ffffcc', 33.3, '#a1dab4', 66.6, '#41b6c4', 100, '#225ea8'
            ],
            ['==', layerId, 'state_leg_low'], [
                'interpolate', ['linear'], ['get', 'voter_power'],
                1, '#f1eef6', 33.3, '#d7b5d8', 66.6, '#df65b0', 100, '#ce1256'
            ],
            '#D3D3D3'  // Default color for unmatched cases
        ],
        'fill-opacity': 1
    }

}, 'state-label');
    }



            // line layer should be black as default
            map.addLayer({
                id: layerId + '-line',
                type: 'line',
                source: layerId,
                layout: {},
                paint: {
                    'line-color': '#808080',
                    'line-width': .7,
                    'line-opacity': .8
                }
            });

            // add line layer that highlights when hovering 
            map.addLayer({
                id: layerId + '-hover-line',
                type: 'line',
                source: layerId,
                layout: {},
                paint: {
                    'line-color': ['case', ['boolean', ['feature-state', 'hover'], false], '#ffffff', '#000'],
                    'line-width': ['case', ['boolean', ['feature-state', 'hover'], false], 4, 2],
                    'line-opacity': ['case', ['boolean', ['feature-state', 'hover'], false], 1, 0]
                }
            });

            // put hover line  above others
            map.moveLayer(layerId + '-hover-line');

            // mouse event for hovering
            map.on('mousemove', layerId + '-fill', function (e) {
    if (e.features.length > 0) {
        const feature = e.features[0];
        const currentId = feature.properties[idProperty]; // Make sure this is the field you promote as ID

        // console.log("Feature ID:", feature.id, "Current ID:", currentId);  // Logging feature ID for debugging

        if (hoveredStateId !== currentId) {
            if (hoveredStateId) {
                map.setFeatureState({source: layerId, id: hoveredStateId}, { hover: false });
            }
            hoveredStateId = currentId;
            map.setFeatureState({source: layerId, id: hoveredStateId}, { hover: true });
        }

        let popupContent = ""; // Initialize popupContent
        const name = feature.properties['NAME'] || feature.properties['NAMELSAD'];
        let voterPower = feature.properties['voter_power']; // Directly use the property

        if (layerId === 'ballot_all') {
            // Check if the description is undefined or empty
            var description = feature.properties['number_per_state'];
            if (description === undefined || description === '') {
                popupContent = `<div class="custom-popup">
                    <strong>There are no democracy ballot initiatives in your state.</strong>
                </div>`;
            } else {
                popupContent = `<div class="custom-popup">
                    <strong>Number of ballot initiatives in your state: ${description}</strong> <br>Click on the state in the dropdown menu to learn about ballot initiatives in this state.
                </div>`;
            }
        } else if (layerId === 'congressional' && (voterPower === undefined || voterPower === 'no race')) {
            // Specific case for congressional layer with undefined voter power
            popupContent = `<div class="custom-popup">
                <strong>State: ${name}:</strong> <br>
                No race
            </div>`;
        } else {
            // Handle other cases
            voterPower = voterPower === undefined ? 'no competitive race' : voterPower; // Check if voter power is undefined
            popupContent = `<div class="custom-popup">
                <strong>${layerId === 'house' || layerId === 'state_leg_up' || layerId === 'state_leg_low' ? 'District' : 'State'}:</strong> ${name}<br>
                <strong>Voter Power:</strong> ${voterPower}
            </div>`;
        }
            

                    popup.setLngLat(e.lngLat).setHTML(popupContent).addTo(map);
                    map.getCanvas().style.cursor = 'pointer';
                } else {
                    if (hoveredStateId) {
                        map.setFeatureState({source: layerId, id: hoveredStateId}, { hover: false });
                        hoveredStateId = null;
                    }
                    map.getCanvas().style.cursor = '';
                    popup.remove();
                }
            });

            map.on('mouseleave', layerId + '-fill', function () {
                if (hoveredStateId) {
                    map.setFeatureState({source: layerId, id: hoveredStateId}, { hover: false });
                    hoveredStateId = null;
                }
                map.getCanvas().style.cursor = '';
                popup.remove();
            });

            // Update the current layer ID
            currentLayerId = layerId;
        }

        

        // Initial layer setup on map load
        map.on('load', function () {
            //map.resize();
        addGeoJsonLayer('aggregate');
    


    //filter for only USA names
    const layers = map.getStyle().layers;

layers.forEach((layer) => {
    const currentFilters = map.getFilter(layer.id);
    
    // if layer includes label or state filter for USA
    if (layer.id.includes('label') || layer.id.includes('state') || layer.id.includes('admin')) {
        if (currentFilters) {
        
            map.setFilter(layer.id, ['all', currentFilters, ['==', ['get', 'iso_3166_1'], 'US']]);
        } else {
    
            map.setFilter(layer.id, ['==', ['get', 'iso_3166_1'], 'US']);
        }
    
    }

                
            });
});



        document.getElementById('layer').addEventListener('change', function (e) {
            const value = e.target.value;
            if (value in layers) {
                addGeoJsonLayer(value);
            } else {
                Object.keys(layers).forEach(id => {
                    if (map.getLayer(id + '-fill')) {
                        map.removeLayer(id + '-fill');
                        map.removeLayer(id + '-line');
                        map.removeLayer(id + '-hover-line');  // Ensure hover line is also removed
                        map.removeSource(id);
                    }
                });
            }
        });


        
    </script>
    
    <button type="btn" class="popup" id="popup-btn" onclick="myFunction()">What is Voter Power?
        <span class="popuptext" id="myPopup">
            <div class="container">
            Voter Power is our way to decide where a single vote has the most 
            influence, based on how close elections are, how many people vote in them,
            and how many people the elected official will influence once elected.
            </div>
            <div class="container" id="infographic-ref">
                <a class="btn btn-outline-light" id="infographic-btn"  href="/voter-power" role="button"><b>Learn more about Voter Power</b></a>
            </div>
        </span>
    </button>

    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</body>
{% endblock %}
