{% extends "layout.html" %}

<!-- INFOGRAPHIC PAGE -->

{% block main %}
<body>
    <div class="container" id= "info-page">
        <div class="container" id="info-title">
            What is Voter Power?
            <div class="container" id="info-blurb">
                <img id="vp-img" src="static/images/vp_simple.png" alt="VP infographic">
            </div>
        </div>
        
        <div class="container" id="info-title">
            <i>The Three Key Components of Voter Power</i>
            <div class="container" id="info-blurb">
                <b>A Close Election:</b> In order to have power, a voter needs to have a good chance of being 
                the deciding vote in that election. This is what polls are good at tracking- the closer an
                election is, the more power voters have in it.
            </div>
            <div class="container" id="info-blurb">
                <b>Influence:</b> The person being elected needs to have the ability to influence policy in a
                meaningful way. Executive branch folks (IE: A President or Governor) always have significant
                influence in policy implementation. Legislators have more influence when a legislative chamber is
                balanced, and less when they are part of a big majority or tiny minority. The more influential the
                elected person, the more power the voter electing them has.
            </div>
            <div class="container" id="info-blurb">
                <b>Impact:</b> There are some elections that impact more people than others. A vote for a governor can impact
                everyone in that state- a vote for a senator can impact the whole country. This can give certain elections,
                and the voters in them, more power due to their high impact and smaller voting population. A good example
                would be the Senate race in Montana this year- the balance of the US Senate (impacting over 300 million people)
                may rest in the hands of the just over 1 million residents of Montana.
            </div>
        </div>
        
    </div>
</body>


{% endblock %}

