{% extends "layout.html" %}

<!-- INFOGRAPHIC PAGE -->

{% block main %}
<body>
    <div class="container" id= "info-page">
        <div class="container" id="info-title">
            Voter Power: It’s One, Two, Three
            <div class="container" id="info-blurb">
                In the U.S. system, votes do not all have equal power. The best known example is the system for electing the President, in which voters express their preference indirectly through electors selected on a state-by-state basis. Inequities occur at other levels as well.
            </div>
            <div class="container" id="info-blurb">
                However, this does not mean that voters are without power. To the contrary, the vast majority of voters in the U.S. can meaningfully influence key questions of representation and governance. Voter power quantifies that influence.
            </div>
            <div class="container" id="info-blurb">
                <b>Voter Power</b> is a one-of-its-kind feature of <b>Vote Maximizer</b>, a nonpartisan tool to help repair and strengthen democracy by showing citizens the measure of their Election 2024 impact on national, state, and local elections and policy matters. The math behind Voter Power is described here.can read more here. Here’s a fast explainer of three key components.
            </div>
        </div>
        
        <div class="container" id="info-title">
            <i>A Close Race</i>
            <div class="container" id="info-blurb">
                Election power is a measure of a voter’s chance of casting the deciding ballot. The higher the likelihood, the greater the power. An individual’s Voter Power score can change from day to day. Voter power is higher when a race is close, as measured by polls and past voting patterns. Additional factors can include a candidate’s withdrawal, a political spending surge, a scandal, or even a natural disaster.
            </div>
            
            <div class="container" id="info-blurb">
                <b>Impact:</b> There are some elections that impact more people than others. A vote for a governor can impact
                everyone in that state- a vote for a senator can impact the whole country. This can give certain elections,
                and the voters in them, more power due to their high impact and smaller voting population. A good example
                would be the Senate race in Montana this year- the balance of the US Senate (impacting over 300 million people)
                may rest in the hands of the just over 1 million residents of Montana.
            </div>
        </div>
        <div class="container" id="info-title">
            <i>Influence</i>
            <div class="container" id="info-blurb">
                One of Voter Power’s pivot points is the influence of the specific race. To have influence, a person in office must have the ability to move policy in a meaningful way. Executive branch folks – for instance, a president or governor – have significant sway because they sign laws and run the state government. Legislators have higher influence not when they’re part of a big majority or tiny minority, but when their chamber is on the edge of control. That’s because their vote can be a deciding factor. In addition to the U.S. Senate and House, Vote Maximizer has identified ten states where legislative control, whether by majority or supermajority, is at stake on Election Day in 2024.
            </div>
        </div>
        <div class="container" id="info-title">
            <i>Impact</i>
            <div class="container" id="info-blurb">
                Some elections have more weight than others. A vote for governor can have significance for a whole state. A vote for Congress can have repercussions for the whole country. Certain elections, and their voters, then, have more ability to shape democracy, particularly when population is considered. A good example is the U.S. Senate race in Montana. The chamber’s balance may rest in the hands of voters in that state, meaning that its relatively small population of 1 million people may have a profound effect on 300 million Americans.
            </div>
        </div>
        
        <div class="container" id="info-title">
            <i>The Mathematics of Voter Power</i>
            <div class="container" id="info-blurb">
                The principle of voter power means picking races where a few votes can make the difference. These are knife-edge races where the outcome could go either way. Vote Maximizer quantifies the per-vote leverage and shows you where it is greatest. 
            </div>
            <div class="container" id="info-blurb">
                In political races, Vote Maximizer uses mathematical analysis to answer the question: how much difference in probability arises from moving one or a few votes? Vote Maximizer calculates the <a href = "https://samwang.substack.com/p/democracy-moneyball">per-vote leverage</a> in each race on those chambers, as measured by the change in win probability that comes from moving one or a few votes.
           </div>
            <div class="container" id="info-blurb">
                <img id="vp-img" src="static/images/vp_mathy.png" alt="VP infographic">
            </div>
            <div class="container" id="info-blurb">
                Learn more about the history of voter power calculations: <a href="https://samwang.substack.com/p/democracy-moneyball-2022-edition">Democracy Moneyball, 2022</a>
           </div>
        </div>
    </div>
</body>


{% endblock %}

